<div style="display: flex; left: 0;">
    <h1 class="logo"><strong>Legal</strong> Kagaz</h1>
        <ul>
           <li class="dropdown">
            <a class="active" href="javascript:void(0)">Staffing Management</a>
            <div class="dropdown-content">
              
              <a href="abc">Staffing Services</a>
              
            </div>
          </li>
          <li class="dropdown">
            <a class="active" href="javascript:void(0)">Contract Management</a>
            <div class="dropdown-content">
              <a href="abc">Service Agreement</a>
              <a href="abc">Non Compete Agreement</a>
              <a href="abc">Non disclosure Agreement</a>
              <a href="abc">Distributorship Agreement</a>
              <a href="abc">Warehouse Agreement</a>
              <a href="abc">Shareholders Agreement</a>
              <a href="abc">Leave and Lisense Agreement</a>
            </div>
          </li>
          <li class="dropdown">
            <a class="active" href="javascript:void(0)">Accounting Management</a>
            <div class="dropdown-content">
              
              <a href="abc">Account Outsourcing</a>
              
            </div>
          </li>
          <li class="dropdown">
            <a class="active" href="javascript:void(0)">Business Management</a>
            <div class="dropdown-content">
              <a href="/">Pvt Ltd Registrations</a>
              <a href="llpregistration">LLP Registrations</a>
              <a href="abc">PF & ESI Registrations</a>
              <a href="abc">FASSAI Registrations</a>
              <a href="abc">IEC Registrations</a>
              <a href="abc">GST Registrations</a>
            </div>
          </li>
          <li class="dropdown">
            <a class="active" href="javascript:void(0)">Compliance Management</a>
            <div class="dropdown-content">
              <a href="abc">LLP Compliances</a>
              <a href="abc">Pvt Ltd Compliances</a>
              <a href="abc">GST Compliances</a>
              <a href="abc">PF & ESI Compliances</a>
              <a href="abc">ROC event based Compliances</a>
            </div>
          </li>
            
       </ul></div>