  p{
    font-family: Montsearrat, sans-serif;
  }
  body{
    width: 100%;
  }
  main{
    width:100%;
    left: 0;
  }
  header{
    width: 100%;
  }
  ul {
    list-style-type: none;
    font-family: Montsearrat, sans-serif;
    margin: 10;
    padding: 0;
    background-color: white;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    }
  li {
    float: right;
    padding: 0.5%;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.2px;
  }
  .icon{
    display: none;
  }
  li a.active {
    background-color:white;
    color: #000000;
  }
  li a,
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width: 170px;
  }
  
  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: #4CAF50;
    color: #ffffff;
    
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    width: 170px;
  }
  .dropdown-content a {
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #4CAF50
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .logo{
      z-index: 2;
      padding: 10px 7px;
      font-weight: 800;
     position: fixed;
     left: 0;
  }
  .logo strong{
      background-color: #4caf50;
  }
  #intro{
      text-align: center;
      padding:2% 8% 8% 8%;
      width: 100%;
  }
  .llp-head{
    margin-top: 10%;
  }
  #intro h1, #benefits h1,#how-it-works h1, #pricing h1{
      font-weight: 700;
      text-align: center;
  }
  #intro p, #benefits p, #how-it-works p, td, #pricing p{
      color: #757575;
      font-weight: 700;
  }
  #how-it-works strong{
      color: black;
  }
  #how-it-works h1{
    padding: 4% 5%;
  }
  #how-it-works{
    width: 100%;
  }
  #how-it-works p{
   padding-top: 1%;
  }
  input{
    margin-top: 20%;
    height: 50px;
    font-size: 20px;
    outline: 0;
    padding: 10px;
    border-radius: 3px;
    border: 5px solid black;
    text-align: left;
    width: 60%;
    color: #474747;
  }
  #benefits h1{
    margin-bottom: 1%;
  }
  .benefit{
    display: flex;
    margin: 50px 50px;
  }
  .benefit p{
   width: 250px;
  }
  .benefit img{
    margin-right: 20px;
  }
  .image{
    height: 80px;
   width: 80px;
   margin-top: 25px;
  }
  #pricing{
    text-align: center;
 }
 #pricing h1{
   margin: 80px auto 20px;
   padding-bottom: 20px;
 }
 #pricing p{
   font-size: 1.3rem;
   color: rgb(255, 145, 0);
   padding-bottom: 50px;
 }
 h3{
   color: #4CAF50;
 }
 .btn{
   font-weight: 700;
 }
table{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
td{
  width: fit-content;
  border: 3px solid black;
  height: 70px;
}
.price{
  color: #4CAF50;
  width: 30%;
  font-size: 1.2rem;
}
.total-cost{
  font-size: 1.1rem;
}
.total-cost td{
  color: rgb(20, 20, 20);
}
h6{
  line-height: 0.9;
  color: gray;
}
footer{
  text-align: center;
  background-color: rgb(3, 89, 92);
  color: white;
  width: 100%;
  margin:50px 0 0;
}
.icons{
  padding-top: 2% ;
  padding-left: 1%;
  padding-right: 1%;
}
footer p{
  padding-top: 10px;
  margin: 0;
}
.feature{width: 36%;}
.feature p{
  width: 95%;
}
.benefit-col{
  display: flex;
}
.feature-col{
  padding-left: 100px;
}

@media screen and (max-width: 600px){
  .dropdown{
    display: none;
  }
  .icon{
    display: block;color: black;
    height: 60px;width: 60px; 
    font-size: 36px;text-decoration: none;}
   ul{height: 70px;
  }
   li a{
     display: none;
    }
   table{width: 70%;}
   #benefits{text-align: center; align-items: center;}
   .benefit-col{display: flex; flex-direction: column;padding-left: 0;}
   .benefit{display: flex; flex-direction: column; padding: 0; 
    margin: 0px; padding-top: 5%;
     width: 100%; align-items: center; text-align: center;}
     .feature{width: 100%;}
    .benefit p{padding-top: 2%;width: 100%;}
    .feature img{margin:auto 50%;}
    .feature h4, .feature p{ width: 100%; }
    .comingsoon{ margin-top: 30%; margin-bottom: 40%;}
    .llp-head{margin-top: 20%;}
    #how-it-works h1{margin-top: 10%; margin-bottom: 5%;}
  }
@media screen and (max-width: 600px){
  .topnav.responsive .dropdown{display: block; width: 100%;}
  .topnav.responsive li a{display: block; width: 100%; text-align: center;}
  .topnav.responsive a{margin-top: -1.5%;}
  .topnav.responsive .dropdown-content{width: 100%; text-align: center;}
  .topnav.responsive{text-align: center;}
}