<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

  <header>
    <%- include('../partials/header'); %>
</header>

<main>
    
     <!-- intro -->
     <section id="intro">
        <input type="text" class="fas" placeholder="&#61442; Search here" />
               <h1 style="padding-top: 5%;">What is Private Limited Company?</h1>
               <div class="">
                <p>Private Limited Company registration is the most popular legal structure option for businesses in India. A private limited company can have a minimum of two members and a maximum of fifty members. The directors of a private limited company have limited liability to creditors. In a case of default, banks/creditors can only sell company’s assets but not personal assets of directors. If you want to start a company in India then make sure your company is registered as Company Registration should be your first priority. It is very important to register your company as a registered company have multiple advantages from easy to register to easy to dissolve.</p>
               </div>
       </section>
    
  <!-- benefits -->

    <section id="benefits">
      <h1>Benefits</h1>
        <div style="display: flex;" class="benefit-col">
            
          <div class="benefit">
            <img src="images/shield.svg" height="80px" width="80px" alt="" />
           <p>Shields from personal liability and protects from other risks and losses.</p>
        
         </div>
         
         
          <div class="benefit">
            <img src="images/magnet.svg" height="80px" width="80px" alt=""/>
           <p>Attracts more customers</p>
         </div>
       
          
          <div class="benefit">
            <img src="images/return-on-investment.svg" height="80px" width="80px" alt=""/>
           <p>Procures bank credits and good investment from reliable investors with ease.</p>
         </div>
      </div>
        <div style="display: flex;" class="benefit-col">
            
            <div class="benefit" >
              <img src="images/money-bag.svg" height="80px" width="80px" alt=""/>
             <p>Greater capital contribution and greater stability</p>
          
           </div>
           
           
            <div class="benefit">
              <img src="images/professional.svg" height="80px" width="80px" alt=""/>
             <p>Offers liability protection to protect your company’s assets</p>
           
           </div>
         
            
            <div class="benefit">
              <img src="/images/statistics.png" height="80px" width="80px" alt=""/>
             <p>Increases the potential to grow big and expand</p>
         
           </div>  
           </div> 
    </section>
    <section id="how-it-works" style="text-align: center;">
      <h1>HOW IT WORKS</h1>
      <p><strong>Step 1:</strong> Application for DSC (Digital Signature Certificate).</p>
     <p> <strong>Step 2:</strong> Apply for the DIN (Director Identification Number)</p>
      <p><strong>Step 3:</strong> Application for the name availability.</p>
      <p><strong>Step 4:</strong> Filing of the EMoa and EAOA to register private limited company</p>
      <p><strong>Step 5:</strong> Apply for the PAN and TAN of the company</p>
      <p><strong>Step 6:</strong> Issued certificate of incorporation by RoC with PAN and TAN</p>
      <p><strong>Step 7:</strong> Opening a current bank account on company name</p>
      
   </section>
  <section id="pricing">
    <h1>Private Limited Company Cost</h1>
    <p>100% transparency in Pricing</p>
      <table>
        <tbody>
          <tr>
            <td>
              Company Name Search
            </td>
            <td class="price">
              Free
            </td>
          </tr>
          <tr>
            <td>
              Consultancy on Registration and Name Availability
            </td>
            <td class="price">
              Free
            </td>
          </tr>
          <tr>
            <td>
              GST Registration (Optional)
            </td>
            <td class="price">
              Free
            </td>
          </tr>
          <tr>
            <td>
              2 DSC's
            </td>
            <td class="price">
              1400.00
            </td>
          </tr>
          <tr>
            <td>
              Government Fees
            </td>
            <td class="price">
              1,000.00
            </td>
          </tr>
          <tr>
            <td>
              Stamp Duty
            </td>
            <td class="price">
              1,510.00
            </td>
          </tr>
          <tr>
            <td>
              Documents Notarization Cost
            </td>
            <td class="price">
              500.00
            </td>
          </tr>
          <tr>
            <td>
              PAN and TAN Fees
            </td>
            <td class="price">
              170.00
            </td>
          </tr>
          <tr>
            <td>
              Professional Fees
            </td>
            <td class="price">
              3500.00
            </td>
          </tr>
          <tr>
            <td>
              Goods & Service Tax
            </td>
            <td class="price">
              630.00
            </td>
          </tr>
          <tr class="total-cost">
            <td>
             Total Cost
            </td>
            <td>
              ₹ 8710.00 <strong style="color: red;">*</strong>
            </td>
          </tr>
         
        </tbody>
      </table>
      <h6> <strong style="color: red;">*</strong> The above mentioned government fee has been calculated on minimum contribution of Rs.100000 </h6>
      <h6> <strong style="color: red;">*</strong> Stamp duty may vary state to state
       </h6>
       <h6> <strong style="color: red;">*</strong>  Extra charges for NRI/Foreign directors or Foreign shareholding companies</h6>
  </section>

</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>


</body>
</html>