<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    
     <!-- intro -->
     <section id="intro">
               <h1 class="llp-head">What is LLP ?</h1>
               <div class="">
                <p>Limited Liability partnership offers the benefit of limited liability to its owners and at the same time needs minimal maintenance. The owners of a private limited company have limited liability to creditors. In case of default, banks/creditors can only sell the company’s assets and not the personal assets of directors.</p>
               </div>
       </section>
    <!-- benefits -->
    <section id="benefits">
      <h1>Benefits</h1>
      <div class="benefit-col feature-col">
            
        <div class="benefit feature">
          <img src="images/credibility.png" class="image" alt="" />
         <div >
           <h4>Higher Credibility</h4>
           <p>Annual compliance provides for higher credibility to the organization for loan approvals or any other similar requirements.</p>
         </div>
      
       </div>
       <div class="benefit feature">
        <img src="images/financial-report.png" class="image" alt=""/>
        <div>
          <h4>Record of Financial Worth</h4>
          <p >Annual compliance filings by LLP’s provide records to other companies regarding their financial worth, which may result in new and interested investors</p>
        </div>
        </div>
     </div>
  <div class="benefit-col feature-col">
    <div class="benefit feature" >
      <img src="images/taxes.png" class="image" alt=""/>
      <div>
        <h4>Stays Active and No Penalties</h4>
        <p >With regular filings, LLPs are not declared as defunct, and stays active. Also, annual compliance filings are mandatory and hence involve penalties (additional fees) to LLPs, when they default on filings.</p>
      </div>
   </div>
   <div class="benefit feature"  >
    <img src="images/conversion.png" class="image"alt=""/>
    <div>
      <h4>Conversion or Closure</h4>
      <p>Regular annual compliance filings facilitate easier conversion of Limited Liability Partnerships into other types of companies, as well as quicker resolutions in case of dissolution of partnerships</p>
    </div>
    </div>
    
    </section>
    <section id="how-it-works" style="text-align: center;">
        <h1>HOW IT WORKS</h1>
        <p><strong>Step 1:</strong> Application for DSC (Digital Signature Certificate).</p>
       <p> <strong>Step 2:</strong> Apply for the DIN (Director Identification Number)</p>
        <p><strong>Step 3:</strong> Application for the name availability.</p>
        <p><strong>Step 4:</strong> Filing of the EMoa and EAOA to register private limited company</p>
        <p><strong>Step 5:</strong> Apply for the PAN and TAN of the company</p>
        <p><strong>Step 6:</strong> Issued certificate of incorporation by RoC with PAN and TAN</p>
        <p><strong>Step 7:</strong> Opening a current bank account on company name</p>
        
     </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>